// Vuetify Doc, SASS variables: https://vuetifyjs.com/en/features/sass-variables/
// How to change font family in Vuetify 3: https://stackoverflow.com/a/61969663/7309855
// How to import Google Fonts: https://stackoverflow.com/a/61969663/7309855

// Vuetify supports 100, 300, 400, 500, 700, 900 font weights and italicized text
// https://vuetifyjs.com/en/styles/text-and-typography/#font-emphasis

$body-font-family: "Barlow", sans-serif;

// https://stackoverflow.com/a/72723476/7309855
@use "vuetify/styles" with (
  //   $body-font-family: 'Barlow'
  $body-font-family: $body-font-family
);

// Barlow and Barlow condensed
// https://fonts.google.com/specimen/Barlow
// https://fonts.google.com/specimen/Barlow+Condensed
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Barlow:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// $body-font-family:  'Barlow', sans-serif;
// The condensed font is used in App.vue

// Roboto condensed
// Note: not many font weights available
// https://fonts.google.com/specimen/Roboto+Condensed
// @import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap");
// $body-font-family: 'Roboto Condensed', sans-serif;

.condensed-font {
  font-family: "Barlow Condensed", "Barlow", sans-serif;
  /* font-family: "Roboto Condensed", Roboto, sans-serif; */
  /* Google Fonts are imported in src/styles/variables.scss */
}

#app .v-card__title {
  /* #app is to increase CSS specificity */
  word-break: normal;
}

.capitalize {
  text-transform: capitalize;
}

html,
body,
#app,
.v-application,
.v-application__wrap {
  height: 100%;
}

.v-btn {
  text-transform: capitalize;
}

.v-card--variant-outlined {
  background: rgb(var(--v-theme-surface-container-lowest));
  border: thin solid rgb(var(--v-theme-outline-variant));
}

.v-card--variant-elevated {
  background: rgb(var(--v-theme-surface-container-lowest));
}

.v-autocomplete .v-field__overlay {
  background-color: rgb(var(--v-theme-surface-container-lowest));
}

.v-table {
  background: rgb(var(--v-theme-surface-container-lowest));
  border: 1px solid rgb(var(--v-theme-outline-variant));
  border-radius: 8px;
}

.v-table__wrapper > table > thead > tr th,
.v-table__wrapper > table tbody > tr > td {
  background-color: inherit;
}

.v-data-table .v-table__wrapper > table > thead > tr th,
.v-data-table .v-table__wrapper > table tbody > tr > td {
  background-color: inherit;
}

// github-markdown-css:  https://github.com/sindresorhus/github-markdown-css
// Copied CSS files from 
// - node_modules/prism-theme-github/themes
// - node_modules/github-markdown-css/
// file extension is changed to .scss.
.v-theme--light {
  @import "./prism-theme-github-light.scss";
  @import "./github-markdown-light.scss";
}

.v-theme--dark {
  @import "./prism-theme-github-dark.scss";
  @import "./github-markdown-dark.scss";
}

/* https://github.com/sindresorhus/github-markdown-css */
:is(.v-theme--light, .v-theme--dark) .markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 12px;
}

:is(.v-theme--light, .v-theme--dark) .markdown-body pre code {
  background-color: inherit;
}
